@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
    /*  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCHsBeWHOWOC7xJNSv7N6WTZ06BIdSq2UkbQ&usqp=CAU");*/
    background-image: url("https://i.pinimg.com/originals/3f/b9/d7/3fb9d7397d0f6ce64e99d3561db75d03.png");
    background-size: cover;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 5px;
    /*background-color: rgba(150,150,150,0.9);*/
    
    /*BORDECITO DE COLOR NEGRO PARA LA LETRA DE LOS TÍTULOS, SI NO SIN FONDO SE PIERDE*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgba(255,0,110,0.3);

}

h5 {
    text-align: center;
}

header footer {
    height: 100px;
    background-color: rgb(27, 27, 27);
}

.nombre {
    /*margin-left: 100px;*/
}

.imagen {
    /*width: 200px;
    height: 200px;*/
}

.genero {
    margin-bottom: 30px;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.imagen-genero {
    border-radius: 50%;
    width: 23vh;
    height: 23vh;
    object-fit: cover;
}



.container {
    background-color: beige;
    padding-bottom: 50px;
    padding-top: 50px;
}


.colorArriba:hover {
    background-color: bisque;
}

.agus {
    background-color: pink;
    float: left;
    /* overflow: hidden;*/
    display: inline-block;
    

    justify-content: left;
    height: 100%;
}

.inicioSesion {
    text-align: right;
    margin-right: 150px;    
   /* cursor:pointer;*/
}

.tituloGeneros {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

a:link, a:visited, a:active {
    text-decoration: none;
}





/*Desde acá son los que se usan para login y sign up*/
.caja-transparente {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 600px;
}

.container-usuario {
    align-content: center;
    width: 100%;
    background: rgba(0,0,0,0);
    position: relative;
}


/*Contenedor para cada artista*/
.caja-artista {
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    max-width: 1000px;
    justify-content: center;
    padding: 10px;
}


 iframe {
    width: 100%; /*Sacamos el ancho fijo asi se ajusta al contenedor y se hace responsive. El 100% es el ancho de su contenedor. */
}
/* Solo aplica a los iframe de la clase playlist */
.playlist iframe {
    height: 300px;
}



/* Ajuste para el botón blanco de navbar, si no queda con texto blanco*/
.btn-light {
    color: #000000 !important;
}

